#forWhat{
  padding-left: 7.8vw;
  padding-bottom: 4.7vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 3.12vw;
    margin-bottom: 3.12vw;
  }

  .reasons{
    align-items: center;
    margin-bottom: 4.7vw;

    img{
      width: 6.25vw;
      margin-right: 4.7vw;
    }

    h3{
        font-size: 1.5vw;
        font-weight: 600;
        margin-bottom: 1.5vw;
    }

    p{
      font-size: 1.4vw;
      font-weight: 300;
    }
  }
}
