header{
  display: flex;
  flex-direction: column;
  background-color: #E8E7F0;

  .headerBar{
    margin-top: 1.8vw;
    margin-left: 7.8vw;
    margin-bottom: 8.6vw;

    img{
      width: 14vw;
      height: 50%;
      margin-top: 1.5vw;
      margin-right: 7.8vw;
    }

    .langBar{
      margin-top: 1.5vw;
      margin-right: 40.9vw;
      p{font-size: 1.8vw;color: red;}
      a{font-size: 1.8vw;}
    }
  }

  .contactsBar{
    flex-direction: column;
    align-items: center;

    .tel{
      font-size: 1.65vw;
      font-weight: 300;
      margin-bottom: 0.5vw;
    }

    .mail{
      margin-top: 0.5vw;
      font-size: 1.32vw;
      font-weight: 300;
    }

    .button{
      margin-top: 2.8vw;
      width: 11.8vw;
      height: 3vw;
      background: red;
      color: #fff;
      font-size: 1vw;
      font-weight: 600;
      border: none;
    }
  }

  .create{
    flex-direction: column;
    margin-left: 7.8vw;
    margin-right: 13.8vw;
    margin-bottom: 7.8vw;

    h1{
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: uppercase;
    }

    p{
      font-size: 1.95vw;
      text-align: right;
    }
  }
}
