#navigation{
  flex-direction: row;
  align-items: center;
  height: 7vw;

  img{
    margin-right: 1.5vw;
    margin-left: 7.8vw;
    width: 15.8vw;
    height: 3.5vw;
  }

  a{
    font-size: 1.2vw;
    padding: 0 3.1vw;
    line-height: 1.5;
    border-right: 1px solid red;
  }

  a:hover{
    color: darkgoldenrod;
  }

  a:last-of-type{
    border: none;
  }
}
