@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA15Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA25ExtraLight.otf);
    font-weight: 200;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA35Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA45Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA55Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA65Bold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA75ExtraBold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'CoreSans';
    src: url(fonts/CoreSansA85Heavy.otf);
    font-weight: 800;
}

:root{
  p, a, li, h1, h2, h3, h4, div{
    font-family: 'CoreSans';
    font-weight: 400;
  }
}

section{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.jcsb{
    justify-content: space-between;
}

.jcsa{
    justify-content: space-around;
}

.jcc{
    justify-content: center;
}


header{
  display: flex;
  flex-direction: column;
  background-color: #E8E7F0;

  .header-bar{
    margin-top: 1.8vw;
    margin-left: 7.8vw;
    margin-bottom: 8.6vw;

    img{
      width: 14vw;
      height: 50%;
      margin-top: 1.5vw;
      margin-right: 7.8vw;
    }

    .mob-nav{
      display: none;
    }

    .lang-bar{
      margin-top: 1.5vw;
      margin-right: 40.9vw;
      p{font-size: 1.8vw;color: red;}
      a{font-size: 1.8vw;}
    }
  }

  .contacts-bar{
    flex-direction: column;
    align-items: center;

    .tel{
      font-size: 1.65vw;
      font-weight: 300;
      margin-bottom: 0.5vw;
    }

    .mail{
      margin-top: 0.5vw;
      font-size: 1.32vw;
      font-weight: 300;
    }

    .button{
      margin-top: 2.8vw;
      width: 11.8vw;
      height: 3vw;
      background: red;
      color: #fff;
      font-size: 1vw;
      font-weight: 600;
      border: 2px solid red;
      cursor: pointer;
    }

    .button:hover{
      color: red;
      background-color: #fff;
    }
  }

  .create{
    flex-direction: column;
    margin-left: 7.8vw;
    margin-right: 13.8vw;
    margin-bottom: 7.8vw;

    h1{
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: uppercase;
    }

    p{
      font-size: 1.95vw;
      text-align: right;
    }
  }
}

#navigation{
  flex-direction: row;
  align-items: center;
  height: 7vw;

  .mob-nav{
    display: none;
  }

  img{
    margin-right: 1.5vw;
    margin-left: 7.8vw;
    width: 15.8vw;
    height: 3.5vw;
  }

  a{
    font-size: 1.2vw;
    padding: 0 3.1vw;
    line-height: 1.5;
    border-right: 1px solid red;
  }

  a:hover{
    color: darkgoldenrod;
  }

  a:last-of-type{
    border: none;
  }
}

#whatWeCan{
  background-color: #F5F2F1;
  padding-left: 7.8vw;
  padding-bottom: 3.7vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5.85vw;
    margin-bottom: 5.5vw;
  }

  .gif-plate{
    width: 25.5vw;
    height: 32.3vw;
    margin-right: 2.4vw;
    margin-bottom: 2.4vw;
    background: #fff;
    box-shadow: 0 0 0.8vw rgba(0,0,0,0.5);

    img{
      height: 25.4vw;
    }

    hr{
      background: red;
      height: 1px;
      border: none;
      width: 100%;
      margin: 0;
    }

    .text-plate{
      background-color: #fff;
      height: 6.8vw;
      padding-left: 2.2vw;
      padding-right: 2.2vw;

      p{
        font-size: 0.86vw;
      }

      p:first-of-type{
        font-size: 1.56vw;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5vw;
        margin-top: 0.8vw;
      }
    }
  }

  .aside{
    margin-left: 3.77vw;
    margin-top: 13.8vw;

    .video-play-img{
    width: 16vw;
    height: 4vw;
    margin-bottom: 3.6vw;
    }

    .green-field{
      background-color: #BEDB89;
      width: 100%;
      padding: 2.13vw;
      align-items: center;

      p{
        font-size: 1vw;
        font-weight: 300;
        text-align: center;
        color: #fff;
      }

      p.upper{
        margin-bottom: 3vw;
        color: black;
        font-size: 1.17vw;
        font-weight: 500;
      }

      input{
        margin-bottom: 0.8vw;
        font-size: 1vw;
        width: 22.4vw;
        height: 2.34vw;
        border: none;
      }

      .button{
        width: 16.25vw;
        height: 3.3vw;
        font-size: 1.25vw;
        font-weight: 600;
        color: #fff;
        background-color: red;
        border: 2px solid red;
        margin-bottom: 3.9vw;
        cursor: pointer;
      }

      .button:hover{
        color: red;
        background-color: #fff;
      }

      .grantee{
        height: 2.34vw;

        img{
        width: 1.3vw;
        margin-right: 1vw;
        }
      }
    }
  }
}

#orderUs{
  background-color: #5072A7;
  padding-left: 7.8vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    color: #fff;
    margin-top: 3.12vw;
  }

  div.ol{
    align-items: center;
    margin-top: 3.1vw;
    margin-bottom: 4.3vw;
    margin-right: 8.7vw;

    img{
      width: 3vw;
      margin-right: 1.56vw;
    }

    p{
      font-size: 1.25vw;
      font-weight: 300;
      color: #fff;
    }
  }
}


#forWhat{
  padding-left: 7.8vw;
  padding-bottom: 4.7vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 3.12vw;
    margin-bottom: 3.12vw;
  }

  .reasons{
    align-items: center;
    margin-bottom: 4.7vw;

    img{
      width: 6.25vw;
      margin-right: 4.7vw;
    }

    h3{
        font-size: 1.5vw;
        font-weight: 600;
        margin-bottom: 1.5vw;
    }

    p{
      font-size: 1.4vw;
      font-weight: 300;
    }
  }
}


#whyWe{
  background-color: #F5F2F1;
  padding-left: 7.8vw;

  img{
    height: 8.4vw;
    margin-right: 1.5vw;
  }

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 3.12vw;
    margin-bottom: 3.12vw;
  }

  h3{
    font-size: 1.25vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.5vw;
  }

  p{
    font-size: 1.1vw;
    font-weight: 300;
    width: 18vw;
    margin-right: 6vw;
    margin-bottom: 6.25vw;
  }

  hr{
    width: 61.5vw;
    background-color: red;
    border: none;
    height: 1px;
    margin-top: 3.75vw;
  }

  .mail{
    font-size: 2.58vw;
    font-weight: 700;
    margin-top: 5.3vw;
    margin-bottom: 2.7vw;
    text-align: center;
  }

  .tel{
    font-size: 1.8vw;
  }

  .button{
    font-size: 1.3vw;
    font-weight: 600;
    color: #fff;
    background-color: red;
    border: 2px solid red;
    cursor: pointer;
    margin-left: 5.7vw;
    margin-bottom: 6vw;
    height: 3.5vw;
  }

  .button:hover{
    color: red;
    background-color: #fff;
  }
}


#howWork{
  padding-left: 7.8vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
    text-transform: uppercase;
  }

  img{
    width: 19.3vw;
    margin-right: 2.2vw;
    margin-bottom: 1.4vw;
  }

  img.mobile{
    display: none;
  }

  p{
    font-size: 1.25vw;
    width: 15.6vw;
    margin-bottom: 7vw;
  }
}

#whoWork{
  background-color: #F5F2F1;
  padding-left: 7.8vw;
  padding-right: 7.8vw;
  padding-bottom: 2.7vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 4.7vw;
    margin-bottom: 4.7vw;
    text-transform: uppercase;
  }

  img{
    width: 13.3vw;
    margin-bottom: 1.3vw;
  }

  p{
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4.3vw;
  }

  .show-more{
    display: none;
  }
}


#portfolio{
  width: 100%;

  h2{
    margin-top: 8.4vw;
    margin-bottom: 3.4vw;
    margin-left: 7.8vw;
    font-size: 1.87vw;
    font-weight: 700;
  }

  .kofta{
    width: 24.85vw;

    a{
      width: 100%;

      img{
        width: 100%;
        height: 18.6vw;
      }

      span.block{
        display: none;
      }
    }
  }

  .show-more{
    display: none;
  }
}


#clients{
  background-color: #F5F2F1;
  padding-left: 7.8vw;
  padding-right: 7.8vw;
  padding-bottom: 7.8vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 4.7vw;
    margin-bottom: 4.7vw;
    text-transform: uppercase;
  }

  img{
    max-width: 10.5vw;
  }

  .show-more{
    display: none;
  }
}

#questions{
  padding-left: 7.8vw;
  padding-right: 7.8vw;

  .question-bar{
    margin-top: 9.6vw;

    h2{
      font-size: 4.85vw;
      font-weight: 700;
      color: #E8E7F0;
      margin-bottom: 1.3vw;
    }

    p{
      font-size: 1.8vw;
      font-weight: 600;
      text-transform: uppercase;
    }

    .contacts-bar{
      align-items: center;
      margin-bottom: 3.9vw;

      .tel{
        font-size: 1.65vw;
        margin-bottom: 0.5vw;
      }

      .mail{
        margin-top: 0.5vw;
        font-size: 1.25vw;
        font-weight: 500;
      }

      .button{
        margin-top: 2vw;
        width: 11.8vw;
        height: 3vw;
        background: red;
        color: #fff;
        font-size: 1vw;
        font-weight: 600;
        border: 2px solid red;
        cursor: pointer;
      }

      .button:hover{
        color: red;
        background-color: #fff;
      }
    }
  }

  .accordion-container{
    margin-bottom: 13vw;

    a.outter{
      display: flex;
      justify-content: space-between;
      height: 4.7vw;
      align-items: center;
      background-color: #F5F2F1;
      margin-bottom: 1.5vw;
      cursor: pointer;

      p{
        font-size: 1.4vw;
        margin-left: 2.3vw;
      }

      img{
        width: 2.7vw;
        margin-right: 2.3vw;
      }
    }

    .inner{

      .set{
        border: 1px solid lightgrey;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 2px;

        a{
          font-size: 1.4vw;
          font-weight: 500;
          padding: 0.6vw 1.2vw;
          cursor: pointer;
        }

        .content{
          border-top: 1px solid lightgray;

          p{
            font-size: 1.4vw;
            font-weight: 300;
            padding: 0.6vw 1.2vw;
          }

          ol{
            list-style-position: inside;

            li{
              font-size: 1.4vw;
              font-weight: 300;
              padding: 0.6vw 1.2vw;
            }
          }

          ul{
            list-style-position: inside;

            li{
              font-size: 1.4vw;
              font-weight: 300;
              padding: 0.6vw 1.2vw;
            }
          }
        }
      }
    }
  }
}

#reviews{
  background-color: #ABBBCF;
  padding-left: 7.8vw;

  h2{
    font-size: 1.87vw;
    font-weight: 700;
    margin-top: 4.7vw;
    margin-bottom: 4.7vw;
    text-transform: uppercase;
  }

  .flex-wrapper{
    display: flex;
    margin-bottom: 3.9vw;

    img{
      border-radius: 50%;
      width: 13vw;
      height: 13vw;
      margin-right: 5.5vw;
    }

    h3{
      font-size: 2.1vw;
      font-weight: 600;
    }

    p{
      font-size: 1.5vw;
      font-weight: 300;
      max-width: 53vw;
    }
  }
}

footer{
  background-color: #1D1D1B;
  padding-left: 5.5vw;
  color: #fff;

  .social{
    padding-top: 4.3vw;
    padding-right: 21.4vw;

    h2{
      font-size: 2.2vw;
    }

    a{
      cursor: pointer;
      margin-left: 2.3vw;

      img{
        height: 2vw;
      }
    }
  }

  .bord{
    border: 1px solid #fff;
    padding: 1.5vw;
    margin-top: 2.7vw;
    margin-right: 21.4vw;
    margin-bottom: 6.6vw;

    p{
      font-size: 1.5vw;
      font-weight: 300;
    }
  }

  .rights{
    margin-right: 7.8vw;
    padding-bottom: 4vw;

    small{
      font-size: 1.3vw;
    }
  }
}


@media screen and (max-width:425px){
.mob-off{
  display: none;
}

header{
  .header-bar{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 7.8vw;

    .mob-nav{
      display: inline-block;
      img{
        width: 6.9vw;
      }
    }

    .lang-bar{
      margin-right: 0;

      a{
        font-size: 5.2vw;
        margin: 0 5.2vw;
      }

      p{
        font-size: 5.2vw;
      }
    }


  }
  .contacts-bar{

    .tel{
      font-size: 5.9vw;
    }

    .mail{
      font-size: 4.7vw;
    }

    .button{
      width: 37vw;
      height: 9.5vw;
      font-size: 3.12vw;
    }
  }

  .create{
        margin-bottom: 49vw;
    h1{
      font-size: 6.76vw;
    }

    p{
      font-size: 5.2vw;
      text-align: left;
    }
  }
}

#navigation{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ABBBCF;

  img{
    width: 15vw;
    height: 11.25vw;
    margin: 5vw auto 16.25vw;
  }

  img.cancel{
    width: 4vw;
    margin-top: 2vw;
    margin-bottom: 0;
    margin-left: 89vw;
  }

  hr{
    width: 10vw;
    height: 2px;
    border: none;
    background: red;
    margin: 5vw auto;
  }

  a{
    border: none;
    font-size: 7vw;
  }

  .mob-nav{
    display: initial;
  }
}

#whatWeCan{
  padding: 0;
  .mob-wrapper{
    flex-wrap: wrap-reverse;

    .can{
      width: 100%;
      align-items: center;

      h2{
        font-size: 5vw;
      }

      .plate-wrapper{
        flex-direction: column;
        align-items: center;
      }

      .gif-plate{
        width: 73vw;
        height: 90vw;
        box-shadow: 0 0 2.4vw rgba(0,0,0,0.5);

        img{
          height: 73vw;
        }

        p{
          font-size: 2.6vw;
        }

        p:first-of-type{
          font-size: 4.5vw;
        }
      }
    }

    .aside{
      width: 100%;
      background-color: #E8E7F0;
      margin: 0;
      align-items: center;

      .show_video_popup{
        margin-top: 18vw;
        margin-bottom: 18vw;

        img{
          width: 52vw;
          height: 13vw;
        }
      }

      .green-field{
        padding: 13vw 0;

        .upper{
          font-size: 3.9vw;
          margin-bottom: 10.14vw;
        }

        input{
          width: 71vw;
          height: 7vw;
          font-size: 3vw;
          margin-bottom: 2.6vw;
        }

        .button{
          margin-top: 9.8vw;
          margin-bottom: 9vw;
          width: 52.65vw;
          height: 10.6vw;
        }

        .grantee{
          img{
            height: 5.5vw;
            width: 2.8vw;
          }

          p{
            font-size: 3.25vw;
          }
        }
      }
    }
  }
}

#orderUs{
  align-items: center;

  h2{
    font-size: 4.9vw;
    margin-top: 12.8vw;
    margin-bottom: 14.7vw;
  }

  .mob-wrapper{
    flex-direction: column;

    .ol{
      margin-bottom: 11.7vw;

      img{
        width: 7.5vw;
      }

      p{
        font-size: 4.4vw;
      }
    }
  }
}

#forWhat{
  padding-right: 7.8vw;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
  }

  .reasons{
    margin-bottom: 15.6vw;

    img{
      width: 13.4vw;
    }

    h3{
      font-size: 4.4vw;
    }

    p{
      font-size: 4.4vw;
    }
  }
}

#whyWe{
  padding-right: 7.8vw;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
  }

  .mob-wrapper{
    flex-direction: column;

    img{
      width: 11.6vw;
      height: 24vw;
      margin-right: 3.8vw;
    }

    .why-text{
      width: 100%;

      h3{
        font-size: 4.4vw;
      }

      p{
        margin-bottom: 16.7vw;
        font-size: 4.4vw;
        width: 100%;
      }
    }
  }

  .contacts-bar{
    align-items: center;
  }

  .mail{
    font-size: 5vw;
  }

  .tel{
    font-size: 7.3vw;
    margin: 1vw auto;
  }

  .button{
    width: 45.6vw;
    height: 7.6vw;
    font-size: 3.4vw;
    margin: 8.5vw auto 11.5vw;
  }
}

#howWork{
  padding-bottom: 14vw;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
  }

  .mob-col{
    flex-direction: column;

    img{
      display: none;
    }

    img.mobile{
      display: initial;
      width: 84.4vw;
    }

    p{
      font-size: 4.4vw;
      width: 84.4vw;
    }
  }
}

#whoWork{
  padding: 0;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
    text-align: center;
  }

  .mob-col{
    flex-direction: column;
    align-items: center;

    img{
      width: 46vw;
      border: 4px solid #DADADA;
      border-radius: 50%;
    }

    p{
      font-size: 5.6vw;
    }
  }

  .show-more{
    background-color: #5072A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.6vw;

    p{
      color: #fff;
      font-size: 5vw;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;

      img{
        width: 4vw;
        margin-left: 2vw;
        margin-bottom: 0;
      }
    }
  }
}

#portfolio{
  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
  }

  .mob-col{
    flex-direction: column;
    align-items: center;

    .kofta{
      width: 89vw;

      img{
        width: 89vw;
        height: 52.5vw;
      }
    }
  }

  .show-more{
    background-color: #5072A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.6vw;

    p{
      color: #fff;
      font-size: 5vw;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;

      img{
        width: 4vw;
        margin-left: 2vw;
        margin-bottom: 0;
      }
    }
  }
}

#clients{
  padding: 0;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-bottom: 15.6vw;
    margin-left: 7.8vw;
  }

  .mob-col{
    flex-direction: column;
    align-items: center;
  }
  img{
    max-width: 46vw;
    margin-bottom: 10vw;
  }

  .show-more{
    background-color: #5072A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.6vw;

    p{
      color: #fff;
      font-size: 5vw;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;

      img{
        width: 4vw;
        margin-left: 2vw;
        margin-bottom: 0;
      }
    }
  }
}

#questions{

  .question-bar{
    flex-direction: column;

    h2{
      font-size: 11.2vw;
      color: #000;
    }

    p{
      font-size: 5.9vw;
      margin-bottom: 22vw;
    }

    .contacts-bar{

      .tel{
        font-size: 5.9vw;
      }

      .mail{
        font-size: 4.7vw;
        margin-bottom: 9vw;
      }

      .button{
        width: 37vw;
        height: 9.5vw;
        font-size: 3.12vw;
        margin-bottom: 16.5vw;
      }
    }
  }

  .accordion-container{
    a.outter{
      height: 12.5vw;
      p{
        font-size: 4.7vw;
      }
      img{
        width: 7.2vw;
      }
    }
    .inner{
      .set{
        a{
          font-size: 3.3vw;
        }

        .content{
          p{
            font-size: 3.3vw;
          }

          ul{
            li{
              font-size: 3.3vw;
            }
          }

          ol{
            li{
              font-size: 3.3vw;
            }
          }
        }
      }
    }
  }
}

#reviews{
  padding: 0;

  h2{
    font-size: 5vw;
    margin-top: 16.9vw;
    margin-left: 7.8vw;
  }

  .flex-wrapper{
    flex-direction: column;
    margin: 0 7.8vw 11.7vw;

    img{
      width: 53vw;
      height: 53vw;
      margin: 15vw auto;
    }

    h3{
      font-size: 7.5vw;
    }

    p{
      font-size: 5vw;
      max-width: 84.4vw;
      margin-bottom: 5vw;
    }
  }
}

footer{
  padding-right: 7.8vw;

  .social{
    flex-direction: column;
    padding: 0;

    h2{
      font-size: 7.1vw;
      margin-top: 17vw;
    }

    .mob-jcsb{
      justify-content: space-between;
      margin-top: 10vw;

      a{
        margin-right: 4.4vw;

        img{
          height: 6.25vw;
        }
      }
    }
  }

  .bord{
    margin-top: 18vw;
    margin-right: 0;
    margin-bottom: 16.9vw;

    p{
      font-size: 4.7vw;
    }
  }

  .rights{
    flex-direction: column;

    small{
      font-size: 4vw;
      margin-bottom: 6.25vw;
    }
  }
}
}
